html,
body {
  overflow-x: hidden;
  /* Prevent horizontal scrollbar */
  width: 100dvw;
  /* Make sure body takes full viewport width */
  height: 100dvh;
  /* Make sure body takes full viewport height */
  display: flex;
  /* Use flexbox for layout */
  flex-direction: column;
  /* Align items vertically */
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  gap: 20px;
}

body {
  position: relative;
}

#joystick {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 30%;
  position: relative;
  background-color: lightblue;
}

#claw {
  padding-top: 1em;
}

#joystick_handle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#joystick_handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background-color: green;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 250px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}